<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's Personal DigiLocker | Files</title>
    <link rel="stylesheet" href="trash.css">
</head>

<body>
    <h1>
        <img src="../../Images/delete.png" alt="">
        Trash
    </h1>
    <div class="total"><b>Total Files</b>: <span class="num"></span></div>
    <div class="files-container" id="filesContainer">

    </div>
    <div id="confirmationBox" class="confirmation-box">
        <div class="confirmation-content">
            <h3>Are You Sure ?</h3>
            <p>Are you sure want to permenantaly delete this item ?</p>
            <button id="confirmBtn">Confirm</button>
            <button id="cancelBtn">Cancel</button>
        </div>
    </div>
    <div id="confirmationBoxR" class="confirmation-boxR">
        <div class="confirmation-contentR">
            <h3>Are You Sure ?</h3>
            <p>Are you sure want to retrieve this item ?</p>
            <button id="confirmBtnR">Confirm</button>
            <button id="cancelBtnR">Cancel</button>
        </div>
    </div>

    <script src="trash.js"></script>
</body>

</html>